asgiref==3.5.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.4
djangorestframework==3.13.1
docopt==0.6.2
idna==3.3
Pillow==9.1.0
pipreqs==0.4.11
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
yarg==0.1.9
